.body-content {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(226, 220, 220);
}

.footer-content {
    padding-left: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: black;
    background-color: lightblue;

}
